<div layout="column" ng-cloak class="md-whiteframe-10dp login-container">
  <md-content layout-padding>
    <div>
      <h1 class="md-headline txt-center">Login</h1>

      <form name="loginForm">

        <md-input-container class="md-block">
          <label>Username</label>
          <input required name="username" ng-model="login.credentials.username"
                 minlength="3" maxlength="100">

          <div ng-messages="loginForm.username.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength']">
              Your username <b>must</b> be between 3 and 100 characters long.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Password</label>
          <input required type="password" name="password" ng-model="login.credentials.password"
                 minlength="6">

          <div ng-messages="loginForm.password.$error" role="alert">
            <div ng-message-exp="['minlength']">
              Your password can <b>not</b> be less than 6 characters.
            </div>
          </div>
        </md-input-container>

        <md-button class="md-primary" ui-sref="public.forgot-password">Forgot Password?</md-button>

        <md-checkbox class="md-primary txt-grey-color float-right margin-top13"
                     ng-model="login.credentials.remember">Remember Me</md-checkbox>

        <div class="margin-top10">
          <md-button class="md-raised md-primary full-width no-margin"
                     ng-click="login.login()"
                     ng-disabled="loginForm.$invalid || login.isLoginClicked">Login</md-button>
        </div>

        <div class="txt-center margin-top10 md-subhead">
          or
        </div>

        <div>
          <md-button class="md-primary center margin-top10 no-margin" ui-sref="public.register">Register</md-button>
        </div>

      </form>
    </div>
  </md-content>
</div>
