<md-card>
  <md-card-title>
    <md-card-title-text>
      <form name="changePasswordForm" class="md-headline">
        <md-input-container class="md-block">
          <label>Old Password</label>
          <input required type="password" name="password" ng-model="settings.changePasswordData.oldPassword"
                 minlength="6">

          <div ng-messages="changePasswordForm.password.$error" role="alert">
            <div ng-message-exp="['minlength']">
              Your password can <b>not</b> be less than 6 characters.
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block margin-top25">
          <label>New Password</label>
          <input required type="password" name="password" ng-model="settings.changePasswordData.newPassword"
                 minlength="6">

          <div ng-messages="changePasswordForm.password.$error" role="alert">
            <div ng-message-exp="['minlength']">
              Your password can <b>not</b> be less than 6 characters.
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block margin-top25">
          <label>Confirm Password</label>
          <input required type="password" name="confirmPass" ng-model="settings.changePasswordData.confirmPassword"
                 compare-to="settings.changePasswordData.newPassword">

          <div ng-messages="changePasswordForm.confirmPass.$error" role="alert">
            <div ng-message="compareTo">
              Confirm Password <b>must</b> match New Password.
            </div>
          </div>
        </md-input-container>
      </form>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-raised md-primary txt-white-color"
               ng-disabled="changePasswordForm.$invalid || settings.changePassBtnClicked"
               ng-click="settings.changePassword();">Save</md-button>
  </md-card-actions>
</md-card>

