<div class="register-container md-whiteframe-10dp">

  <h1 class="txt-main-color txt-center">Register</h1>

  <div class="inner-register-container">
    <form name="registerForm">

      <div class="full-width flex">
        <i class="material-icons margin-top25 margin-right15 txt-main-color">account_circle</i>
        <md-input-container class="md-icon-float full-width">
          <label for="username">Username</label>
          <input id="username" name="username" ng-model="user.name" type="text" required
                 ng-maxlength="8" ng-minlength="3">

          <div ng-messages="registerForm.username.$error" role="alert">
            <div ng-message="maxlength">
              Username cannot be more than 8 characters.
            </div>
            <div ng-message="minlength">
              Username cannot be less than 3 characters.
            </div>
          </div>
        </md-input-container>
      </div>

      <div class="full-width flex">
        <i class="material-icons margin-top25 margin-right15 txt-main-color">email</i>
        <md-input-container class="md-icon-float full-width">
          <label for="email">Email</label>
          <input id="email" required type="email" name="email" ng-model="project.email"
                 minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>

          <div ng-messages="registerForm.email.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
              Your email must be between 10 and 100 characters long and look like an e-mail address.
            </div>
          </div>
        </md-input-container>
      </div>

      <div class="full-width flex">
        <i class="material-icons margin-top25 margin-right15 txt-main-color">lock</i>
        <md-input-container class="md-icon-float full-width">
          <label for="password">Password</label>
          <input id="password" name="password1" ng-model="register.user.password1" type="password" required>
        </md-input-container>
      </div>

      <div class="full-width flex">
        <i class="material-icons margin-top25 margin-right15 txt-main-color">lock</i>
        <md-input-container class="md-icon-float full-width">
          <label for="confPass">Confirm Password</label>
          <input id="confPass" name="password2"
                 ng-model="register.user.password2" type="password" required
                 compare-to="register.user.password1">

          <div ng-messages="registerForm.password2.$error" role="alert">
            <div ng-message="compareTo">
              Confirm Password must match Password.
            </div>
          </div>
        </md-input-container>
      </div>

      <div class="clearfix"></div>

      <md-button class="md-raised md-primary full-width no-margin" ng-disabled="registerForm.$invalid">Register</md-button>

    </form>

    <div class="txt-center margin-top10">
      or
    </div>

    <md-button class="md-primary center margin-top10 no-margin" ui-sref="public.login">Login</md-button>

  </div>

</div>
