<div layout="column" ng-cloak class="md-whiteframe-10dp register-container" flex="100">
  <md-content layout-padding>
    <div>
      <h1 class="md-headline txt-center">Register</h1>

      <form name="registerForm">

        <md-input-container class="md-block">
          <label>Name</label>
          <input required name="name" ng-model="register.newUser.name"
                 minlength="3" maxlength="100" ng-pattern="/^[a-zA-Z]+$/" />

          <div ng-messages="registerForm.name.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength']">
              Your name <b>must</b> be between 3 and 100 characters long.
            </div>

            <div ng-message-exp="['pattern']">
              Your name can contain letters <b>only</b>.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Username</label>
          <input required name="username" ng-model="register.newUser.username"
                 minlength="3" maxlength="100">

          <div ng-messages="registerForm.username.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength']">
              Your username <b>must</b> be between 3 and 100 characters long.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Email</label>
          <input required type="email" name="email" ng-model="register.newUser.email"
                 minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

          <div ng-messages="registerForm.email.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength']">
              Your email <b>must</b> be between 10 and 100 characters long.
            </div>

            <div ng-message-exp="['pattern']">
              Your email <b>must</b> look like an e-mail address (example@mail.com).
            </div>
          </div>
        </md-input-container>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input required type="password" name="password" ng-model="register.newUser.password"
                   minlength="6">

            <div ng-messages="registerForm.password.$error" role="alert">
              <div ng-message-exp="['minlength']">
                Your password can <b>not</b> be less <br> than 6 characters.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Confirm Password</label>
            <input required type="password" name="confirmPass" ng-model="register.newUser.confirmPassword"
                   compare-to="register.newUser.password">

            <div ng-messages="registerForm.confirmPass.$error" role="alert">
              <div ng-message="compareTo">
                Confirm password <b>must</b> <br> match Password.
              </div>
            </div>
          </md-input-container>
        </div>

        <div class="margin-top10">
          <md-button class="md-raised md-primary full-width no-margin"
                     ng-click="register.register()"
                     ng-disabled="registerForm.$invalid || register.isRegClicked">Register</md-button>
        </div>

        <div class="txt-center margin-top10 md-subhead">
          or
        </div>

        <div>
          <md-button class="md-primary center margin-top10 no-margin" ui-sref="public.login">Login</md-button>
        </div>

      </form>
    </div>
  </md-content>
</div>
