//* {
//  margin: 0;
//}

body, html {
  height: 100%;
}

$main-color01: #E0F7FA;
$main-color02: #B2EBF2;
$main-color03: #80DEEA;
$main-color04: #4dd0E1;
$main-color05: #26C6DA;
$main-color: #00BCD4;
$main-color10: #00ACC1;
$main-color20: #0097A7;
$main-color30: #00838F;
$main-color40: #006064;

$sec-color01: #FFF3E0;
$sec-color02: #FFE0B2;
$sec-color03: #FFCC80;
$sec-color04: #FFB74D;
$sec-color05: #FFA726;
$sec-color: #FF9800;
$sec-color10: #FB8C00;
$sec-color20: #F57C00;
$sec-color30: #EF6C00;
$sec-color40: #E65100;

.b {
  border: 1px solid black;
}
.link {
  color: $main-color;
  text-decoration: underline;
  &:hover {
    color: $sec-color;
    text-decoration: none;
  }
}
//.flex {
//  display: flex;
//  flex: 1;
//}

//overrides
.md-input-container {
  margin: 0;
}
md-autocomplete, md-autocomplete md-autocomplete-wrap, md-autocomplete input:not(.md-input) {
  height: 30px!important;
}
md-autocomplete {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.material-icons {
  font-size: 26px;
}
md-content {
  background-color: transparent;
}

//text properties
.txt-main-color {
  color: $main-color;
}
.txt-sec-color {
  color: $sec-color;
}
.txt-grey-color {
  color: #777674;
}
.txt-white-color {
  color: white;
}
.txt-center {
  text-align: center;
}

//vertical aligns
.va-mid {
  vertical-align: middle;
}

//margins
.center {
  display: flex;
  justify-content: center;
}
.no-margin {
  margin: 0;
}
.margin-auto {
  margin: auto;
}
.margin-top10 {
  margin-top: 10px;
}
.margin-top40 {
  margin-top: 40px;
}
.margin-top25 {
  margin-top: 25px;
}
.margin-top13 {
  margin-top: 13px;
}
.margin-right15 {
  margin-right: 15px;
}
.margin-right8 {
  margin-right: 8px!important;
}
.margin-left50 {
  margin-left: 50px;
}
.margin-left40 {
  margin-left: 40px;
}

//floats
.float-right {
  float: right;
}
.float-left {
  float: left;
}

//widths
.full-width {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.public-container {
  background: url('assets/background.jpg') no-repeat fixed;
  background-size: cover;
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.private-container {
  //border: 1px solid black;
}


//dashboard
.dashboard-container {
  padding: 53px 20% 0 20%;
  //border: 1px solid black;
}

.navbar {
  z-index: 999;
  position: fixed;
  width: 100%;
  padding: 10px 0 10px 0;
  background: $main-color30; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($main-color30, $main-color40); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($main-color30, $main-color40); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($main-color30, $main-color40); /* For Firefox 3.6 to 15 */
  background: linear-gradient($main-color30, $main-color40); /* Standard syntax */
}

.search-bar {
  width: 400px!important;
  border: 0.5px solid white;
}

.search-bar-inner {
  width: 367px !important;
}

.profile-block {
  padding: 3px;
  &:hover {
    //background-color: rgba(0, 0, 0, 0.2);
    background-color: rgba($main-color, 0.2);
    //background-color: darken($main-color, );
    border-radius: 5px;
    cursor: pointer;
  }
}

.profile-pic {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin-right: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.profile-name {
  margin-right: 5px;
  color: white;
  opacity: 0.65;
}

.v-divider {
  height: 20px;
  border: 0.5px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.5;
}

.friends-requests-icon, .notifications-icon, .settings, .logout-btn-icon {
  color: white;
  margin-left: 5px;
  opacity: 0.65;
  outline: none;
  &:hover {
    color: black;
    cursor: pointer;
  }
}

.logo {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin-right: 20px;
  //margin-left: 400px;
  margin-left: 20%;
}
.nav-tools {
  //margin-right: 400px;
  margin-right: 20%;
}


//login & register
.login-container, .register-container {
  border-radius: 60px;
  margin: auto;
  padding: 10px 30px 30px 30px;
  //width: 500px;
  background: rgba(white, 0.7);
}
.login-container {
  //height: 520px;
  min-width: 435px;
}
.register-container {
  //height: 610px;
  //min-width: 650px;
}
.inner-login-container, .inner-register-container {
  margin-top: 50px;
}
.login-inner-text {
  color: $sec-color;
}
.password-container {
  display: flex;
}

//Phone
@media screen and (max-width: 767px) {
  @import "styles/_phone.scss";
}
