<div class="dashboard-container">

  <div layout="row" layout-sm="column" layout-align="center center" ng-if="!private.dataLoaded">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <md-card ng-if="private.dataLoaded">
    <md-card-title>
      <md-card-title-media class="margin-right15 no-margin wh40">
        <div class="md-media-sm card-media wh40">
          <img ng-src="data:image/png;base64,{{private.profileImageData}}" alt="profilePicture" class="wh40"
               ng-if="private.profileImageData != 'null'"/>
          <img src="../../../assets/default-profile-picture.png" alt="profilePicture" class="wh40"
               ng-if="private.profileImageData == 'null'"/>
        </div>
      </md-card-title-media>
      <md-card-title-text>
        <form name="selfPostForm">
          <md-input-container class="md-block no-margin" md-no-float layout-align="start center">
            <textarea aria-label="Self Post" placeholder="Tell us what you think" rows="2"
                      ng-model="dashboard.selfPost.postContent" name="selfPost"
                      md-maxlength="350" md-no-resize></textarea>
          </md-input-container>
        </form>
      </md-card-title-text>
    </md-card-title>

    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-primary"
                 ng-disabled="!selfPostForm.$dirty || dashboard.selfPost.postContent.length == 0 ||
                              selfPostForm.$invalid || dashboard.postBtnClicked"
                 ng-click="dashboard.postOnOwnWall()">Post
      </md-button>
    </md-card-actions>
  </md-card>

  <span flex layout-margin></span>

  <div layout="row" layout-sm="column" layout-align="center center" ng-if="!dashboard.postsLoaded">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <md-card ng-repeat="post in dashboard.posts" ng-if="dashboard.postsLoaded">
    <md-card-title>
      <md-card-title-media class="margin-right15 pointer-img"
                           ng-mouseover="private.getUserPreview(post.author.username)"
                           ng-mouseleave="private.cancelTimer()"
                           ui-sref="private.profile({username: post.author.username})">
        <div class="md-media-md card-media wh60">
          <img ng-src="data:image/png;base64,{{post.author.profileImageData}}" alt="profilePicture"
               ng-if="post.author.profileImageData != null"/>
          <img src="../../../assets/default-profile-picture.png" alt="profilePicture"
               ng-if="post.author.profileImageData == null"/>
        </div>
        <md-tooltip md-direction="right" layout-padding md-delay="500" class="w300h130">
          <div layout="row" layout-sm="column" layout-align="center center" class="margin-top10"
               ng-if="!private.previewLoaded">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>

          <div ng-if="private.previewLoaded" class="inline-block">
            <div class="inline-block">
              <img class="wh80" ng-src="data:image/png;base64,{{private.previewData.profileImageData}}"
                   alt="Profile Picture" ng-if="private.previewData.profileImageData != null"/>
              <img class="wh80" src="../../../assets/default-profile-picture.png" alt="Profile Picture"
                   ng-if="private.previewData.profileImageData == null"/>
            </div>
            <div class="inline-block va-top margin-left15">
              <div class="md-title">{{private.previewData.name}}</div>
              <span flex></span>
              <div class="md-subhead">{{private.previewData.gender}}</div>
            </div>
          </div>
          <span style="display: none" class="inline-block">.</span>

        </md-tooltip>
      </md-card-title-media>
      <md-card-title-text>
        <span>
          <span class="md-title pointer" ui-sref="private.profile({username: post.author.username})">{{post.author.name}}</span>
          <span class="md-subhead">
            posted on
            <span
              ng-if="post.wallOwner.username != private.currentUsername && post.wallOwner.username != post.author.username">{{post.wallOwner.name}}</span>
            <span ng-if="post.wallOwner.username == private.currentUsername">your wall.</span>
            <span
              ng-if="(post.wallOwner.username == post.author.username && post.wallOwner.username != private.currentUsername) && post.wallOwner.gender == 0">its wall.</span>
            <span
              ng-if="(post.wallOwner.username == post.author.username && post.wallOwner.username != private.currentUsername) && post.wallOwner.gender == 2">his wall.</span>
            <span
              ng-if="(post.wallOwner.username == post.author.username && post.wallOwner.username != private.currentUsername) && post.wallOwner.gender == 1">her wall.</span>
          </span>
        </span>
        <span class="md-subhead">{{post.date | date:'dd.MM.yyyy HH:mm'}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div>{{post.postContent}}</div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>
        <i class="material-icons va-mid">thumb_up</i>
        <span>Like</span>
      </md-button>
      <md-button>
        <i class="material-icons va-mid">comment</i>
        <span>Comment</span>
      </md-button>
    </md-card-actions>
  </md-card>

</div>
