<div class="dashboard-container">

  <md-card>
    <md-card-title>
      <md-card-title-media class="margin-right15 no-margin" style="height: 80px">
        <div class="md-media-sm card-media">
          <img ng-src="data:image/png;base64,{{private.profileImageData}}" alt="profilePicture"/>
        </div>
      </md-card-title-media>
      <md-card-title-text>
        <form name="selfPostForm">
          <md-input-container class="md-block no-margin" md-no-float layout-align="start center">
            <textarea aria-label="Self Post" placeholder="Tell us what you think" rows="3"
                      ng-model="dashboard.selfPost.postContent" name="selfPost"
                      md-maxlength="350" md-no-resize></textarea>
          </md-input-container>
        </form>
      </md-card-title-text>
    </md-card-title>

    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised md-primary"
                 ng-disabled="!selfPostForm.$dirty || dashboard.selfPost.length == 0 ||
                              selfPostForm.$invalid || dashboard.postBtnClicked"
                 ng-click="dashboard.postOnOwnWall()">Post</md-button>
    </md-card-actions>
  </md-card>


  <md-card>
    <md-card-title>
      <md-card-title-media class="b margin-right15">
        <div class="md-media-md card-media"></div>
      </md-card-title-media>
      <md-card-title-text>
        <span class="md-headline">Test komentira Goshko</span>
        <span class="md-subhead">"goshko ti si pich"</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>
        <i class="material-icons va-mid">thumb_up</i>
        <span>Like</span>
      </md-button>
      <md-button>
        <i class="material-icons va-mid">comment</i>
        <span>Comment</span>
      </md-button>
    </md-card-actions>
  </md-card>

</div>
